@model BeYourMarket.Web.Models.RegisterProducerViewModel
@{
    ViewBag.Title = "[[[Profile]]]";
}

@section Styles {
    <link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
}

<div class="body-content container-fluid">
    <div class="main-section row">
        <div class="container-fluid mrg-tb">

            @Html.Partial("_DashBoardSide", "producer")

            <div class=" col-md-9">
                <div id="myTabContent" class="tab-content ">
                    <div role="tabpanel" class="tab-pane card-content fade active in" id="listings" aria-labelledby="listings-tab">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                [[[Profile]]]
                            </div>
                            <div class="panel-body">
                                @using (Html.BeginForm("RegisterProducer", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <h4>
                                        <i class="fa fa-user"></i> [[[Producer profile]]]
                                        
                                    </h4>
                                    <hr />
                                    @Html.ValidationSummary("", new { @class = "text-danger" })

                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="Email">[[[Email]]]</label>
                                        <div class="col-md-10">
                                            <input type="text" name="Email" id="Email" class="form-control" placeholder="" data-rule-required="true" data-rule-email="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="FirstName">[[[First Name]]]</label>
                                        <div class="col-md-10">
                                            <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="" data-rule-required="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="LastName">[[[Last Name]]]</label>
                                        <div class="col-md-10">
                                            <input type="text" name="LastName" id="LastName" class="form-control" placeholder="" data-rule-required="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="Gender">[[[Description]]]</label>
                                        <div class="col-md-10">
                                            <textarea rows="3" name="Gender" id="Gender" class="form-control" placeholder="" data-rule-required="false"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="Password">[[[Password]]]</label>
                                        <div class="col-md-10">
                                            <input type="password" name="Password" id="Password" class="form-control" placeholder="[[[I am… / We are...]]]" data-rule-required="true" data-rule-minlength="6">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="ConfirmPassword">[[[Confirm Password]]]</label>
                                        <div class="col-md-10">
                                            <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" placeholder="" data-rule-required="true" data-rule-minlength="6" data-rule-equalto="#Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" for="PhoneNumber">[[[Phone Number]]]</label>
                                        <div class="col-md-10">
                                            <input type="text" name="PhoneNumber" id="PhoneNumber" class="form-control" placeholder="Ej. 2641234567" data-rule-required="true">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label">[[[Profile Picture]]]</label>
                                        <div class="col-md-10">
                                            <input id="file" name="file" type="file" class="file-loading">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="[[[Save]]]" class="btn btn-primary" />
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/fileinput.min.js"></script>
    @Html.Partial("_LocalizationFileInput")

    <script>
        var $input = $("#file");

        $input.fileinput({
            uploadAsync: false,
            showCaption: false,
            showRemove: false,
            showUpload: false,
            maxFileCount: 1,
            overwriteInitial: true,
            maxFileSize: 10000,
            browseClass: "btn btn-default",
            allowedFileTypes: ["image"],
            language: '@Context.GetPrincipalAppLanguageForRequest().ToString()'
        });

        //'<img src="http://www.gravatar.com/avatar/?d=mm" class="file-preview-image">'

    </script>
}