@using Microsoft.AspNet.Identity;
@model string

@{
    Layout = null;    
}

<div class=" col-md-3">
    <ul class="nav nav-pills nav-stacked">

        @if (User.IsInRole("Administrator"))
        {
            <li class="@( Model == "dashboard" ? "active" : null )"><a href="@Url.Action("Index", "Manage")"><i class="fa fa-th-list"></i> [[[Listings]]]</a></li>
        }
        <li class="@( Model == "messages" ? "active" : null )"><a href="@Url.Action("Messages", "Manage")"><i class="fa fa-envelope"></i> [[[Messages]]]</a></li>


        <li class="@( Model == "profile" ? "active" : null )"><a href="@Url.Action("UserProfile", "Manage")"><i class="fa fa-user"></i> [[[Profile]]]</a></li>
        <li class="@( Model == "changepassword" ? "active" : null )"><a href="@Url.Action("ChangePassword", "Manage")"><i class="fa fa-key"></i> [[[Change Password]]]</a></li>

        @if (User.IsInRole("Administrator"))
        {
            <li class="@( Model == "shop" ? "active" : null )"><a href="@Url.Action("ShopPhoto", "Manage")"><i class="fa fa-camera"></i> [[[Load photos]]]</a></li>
        }

        @if (User.IsInRole("Administrator"))
        {
            <li><a target="_blank" href="@Url.Action("Manage", "Admin")"><i class="fa fa-desktop"></i> [[[Admin]]]</a></li>
            <li class="@( Model == "producer" ? "active" : null )"><a href="@Url.Action("RegisterProducer", "Manage")"><i class="fa fa-user"></i> [[[Create a producer account]]]</a></li>
        }

    </ul>
</div>


@*<script type="text/javascript">
    $(document).ready(function () {
        $(".left-section").toggleClass("collapse-left");
        $(".right-section").toggleClass("stretch")
    });
</script>*@

